<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <div class="container-fluid content">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Latest Data</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
      </div>

      <div class="col-md-12">
        {% for item in jinja_list %}
        <h3> {{item["Title"]}}</h3>
        {% endfor %}
      </div>

      <div class="col-md-12">
        {% for item in jinja_list %}
        <p> {{item["Paragraph"]}}</p>
        {% endfor %}
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <h2 class="heading">Featured Mars Image</h2>
        
        <a>
          {% for item in jinja_list %}
          <img src="{{item['FeaturedImage']}}" alt="Mars Featured Image"> </img>
          {% endfor %} 
        </a>
      </div>

      <div class="col-md-6">
        <h2 class="heading">Mars Facts</h2>
        <table class="datatable">
          {% for item in jinja_list %}
          {{item['MarsFacts']|safe}}
          {% endfor %} 
        </table>
      </div>
    </div>

    <div class="hemispheres">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading">Mars Hemispheres</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <h4>
            {% for item in jinja_list %}
            {{item['HemisphereImages'][0]['title']}}
            {% endfor %} 
          </h4>
          <a>
            {% for item in jinja_list %}
            <img src="{{item['HemisphereImages'][0]['img_url']}}" alt="Cerberus Hemisphere Enhanced" style="max-width: 90%;max-height: auto;"> </img>
            {% endfor %} 
          </a>
        </div>
  
        <div class="col-md-6">

          <h4>
            {% for item in jinja_list %}
            {{item['HemisphereImages'][1]['title']}}
            {% endfor %} 
          </h4>

          <a>
            {% for item in jinja_list %}
            <img src="{{item['HemisphereImages'][1]['img_url']}}" alt="Schiaparelli Hemisphere Enhanced" style="max-width: 90%;max-height: auto;"> </img>
            {% endfor %} 
          </a>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <h4>
            {% for item in jinja_list %}
            {{item['HemisphereImages'][2]['title']}}
            {% endfor %} 
          </h4>

          <a>
            {% for item in jinja_list %}
            <img src="{{item['HemisphereImages'][2]['img_url']}}" alt="Syrtis Major Hemisphere Enhanced" style="max-width: 90%;max-height: auto;"> </img>
            {% endfor %} 
          </a>
        </div>
  
        <div class="col-md-6">

          <h4>
            {% for item in jinja_list %}
            {{item['HemisphereImages'][3]['title']}}
            {% endfor %} 
          </h4>

          <a>
            {% for item in jinja_list %}
            <img src="{{item['HemisphereImages'][3]['img_url']}}" alt="Valles Marineris Hemisphere Enhanced" style="max-width: 90%;max-height: auto;"> </img>
            {% endfor %} 
          </a>
        </div>
      </div>
    </div>
  
  </div>
</body>

</html>